<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="btn-group-vertical">
        <div class="btn-group" role="group">
            <a href="/vuetest" class="btn btn-default">Vue.js</a>
        </div>
        <div class="btn-group" role="group">
            <a href="/jquerytest" class="btn btn-default">jQuery</a>
        </div>
        <div class="btn-group" role="group">
            <a href="/purejs" class="btn btn-default">Pure</a>
        </div>
    </div>
</div>
</body>
</html>